html, body {
  max-width: 500px;
  height: 200px;
}

.hidden {
  display: none;
}

.panel-session-name {
  display: flex;
  flex-direction: column;
  height: 50;
  justify-content: center;
  margin-top: 15px;
}

a {
  display: flex;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
}

.panel-actions {
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
}

form {
  height: 200px;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  vertical-align: top;
}

.session-name-input {
  width: 100%;
  margin: 10px;
  width: 220px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-color: lightblue;
}

.panel-session-name-input-container {
  display: flex;
  flex-direction: row;
}

.session-search-entry-matchCase-selected {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  color: lightblue;
  overflow: hidden;
  user-select: none;
  font-size: small;
}

.session-search-entry-matchCase-unselected {
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
  color: grey;
  overflow: hidden;
  user-select: none;
  font-size: small;
}

.session-search-entry-matchCase-selected:hover {
  border-radius: 2px;
  box-shadow: 0px 2px 2px lightblue;
}

.session-search-entry-matchCase-unselected:hover {
  border-radius: 2px;
  box-shadow: 0px 2px 2px grey;
}

.sessions-list-container {
  height: 150px;
  max-height: 150px;
  width: 220px;
  flex-direction: column;
  list-style: none;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: lightblue transparent;
}

.session-tile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: left;
  margin: 7px;
  height: 25px;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: ivory;
  box-shadow: 0px 3px 5px 0px grey;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.session-tile-container:hover {
  border-color: lightblue;
  box-shadow: 0px 3px 10px 0px lightblue;
}

.session-tile-name {
  padding: 2px;
  width: 220px;
}

.session-tile-tabs-count {
  padding: 2px;
  text-align: right;
  width: 25px;
}

textarea:focus, input:focus{
  outline: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

button {
  border-radius: 10px;
  height: 40px;
  margin: 10px;
  white-space: nowrap;
  cursor: pointer;
  background-image: radial-gradient( white, lightblue);
  border: 1px solid transparent;
  transition: 250ms all ease-in-out;
}

button:hover {
  border-radius: 30px;
  border: 1px solid blue;
}
