html, body {
    width: 300px;
  }

  .hidden {
    display: none;
  }

  .panel-session-name {
    height: 50;
    justify-content: center;
  }

  .panel-plugin-name {
    height: 5%;
  }

  a {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    justify-content: center;
    font-weight: bold;
  }

  .panel-actions {
    display: grid;
    grid-area: button;
    grid-gap: 10px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  form {
    background-color: #f2f2f2;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      'header header header'
      'input input button'
      'blank blank button';
  }

  .panel-session-name {
    grid-area: input;
  }

  .panel-plugin-name {
    grid-area: header;
  }

  .session-name-input {
    width: 100%;
    margin: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-color: lightblue;
  }

  textarea:focus, input:focus{
    outline: none;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  button {
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    background-image: radial-gradient( white, lightblue);
    border: 1px solid transparent;
    transition: 250ms all ease-in-out;
  }

  button:hover {
    border-radius: 30px;
    border: 1px solid blue;
  }
