html, body {
    width: 300px;
  }

  .hidden {
    display: none;
  }

  .panel-name {
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .panel-actions {
    display: flex;
    height: 50%;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: stretch;
  }

  .session-name-input {
    width: 90%;
    margin: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-self: center;
    font-size: 1em;
    cursor: pointer;
    background-image: radial-gradient( white, lightgrey);
    border: 1px solid transparent;
    transition: 250ms all ease-in-out;
  }

  .button:hover {
    border-radius: 50px;
    border: 1px solid black;
  }
